footer {
    visibility: hidden;
}

#MainMenu {
    visibility: hidden;
}

#an-lise-e-processamento-de-imagem-usando-python {
    font-size: 31.7px;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 70px;
}

